:root {
	--red: #EB21B3;
	--green: #26890C;
	--blue: #0542B9;
	--teal: #0AA3A3;
	--purple: #46178F;
	--orange: #EB670F;
	--yellow: #FFA602;
	--dark: #333;
}

html, body {
	background-color: var(--purple);
	color: white;
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

form {
	text-align: center;
}

input {
	margin: 10px;
	box-sizing: border-box;
	max-height: 48px;
	font-size: 15px;
}

input[type=number], input[type=text], input[type=tel] {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	border: 3px solid #ccc;
	border-radius: 4px;
}

input[type=submit] {
	border: none;
	border-radius: 4px;
}

.btn {
	margin: 10px;
	background-color: var(--blue);
	color: white;
	padding: 15px;
	max-height: 50px;
	border-radius 4px;
	user-select: none;
	font-weight: bold;
	text-decoration: none;
}

.btn:hover {
	text-decoration: none;
	box-shadow: inset 0 0 10px #000000;
	transform: scale(1, 0.9);
}

.btn:active {
	transform: scale(1, 0.8);
}

.btn-green {
	background-color: var(--green);
}

.btn-dark {
	background-color: var(--dark);
}

.wizard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wizard-box {
	display: flex;
	padding: 3px;
	background-color: white;
	color: #000;
	border-radius: 4px;
}

.wizard-box-options {
	align-content: center;
	min-width: 75vw;
}

form.wizard-box, .wizard-box-vertical {
	flex-direction: column;
}

p.error {
	color: #A3001B;
	font-weight: bold;
	margin: 4px !important;
}

input.error {
	border: 4px solid #A3001B;
	background-color: #3B0009;
	color: #A3001B;
}

.wizard > footer {
	justify-self: flex-end;
}

.wizard-option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
	margin-top: 5px;
	text-align: center;
}

.wizard-option:not(:nth-last-of-type(1)) {
	border-bottom: 2px solid #ccc;
}

.wizard-option-num {
	min-height: 25px;
	min-width: 25px;
	margin-left: 10px;
	color: var(--blue);
	border: 3px solid #555;
	border-radius: 50%;
	text-align: center;
}

.wizard-option-text {
	display: flex;
	flex-direction: column;
}

.wizard-option-text > a {
	color: var(--blue) !important;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 0px;
}

.wizard-option-text > small {
	margin: 0;
	margin-bottom: 3px;
	color: #444;
}

.wizard-option-icon {
	color: #1368CE;
	justify-self: flex-end;
	margin: 5px;
	min-width: 25px;
	min-height: 25px;
	text-align: center;
	cursor: pointer;
}
