<!DOCTYPE html>

<html>

	<head>
		{{template "head.gohtml"}}
		{{template "title" "Find a Game File"}}

		<script type="module" src="/static/js/find.js"></script>
	</head>

	<body class="wizard">
		<div x-data="finder" class="wizard-box wizard-box-vertical wizard-box-full">
			<h2 class="find-title">Find a Game</h2>
			<div class="find-box">
				<div class="find-dirs">
					<h3>Categories</h3>

					<!-- Other detected categories -->
					{{range .Categories}}
					<div class="find-item" :class="GetCategory() == '{{.}}'.toLowerCase() ? 'find-dirs-sel' : ''" @click="SetCategory('{{.}}')" title="Quizzes in category '{{.}}'">
						{{.}}
					</div>
					{{end}}

					<hr>

					<!-- Items uploaded via option 2 -->
					<div class="find-item" :class="GetCategory() == 'shared' ? 'find-dirs-sel' : ''" id="shared" @click="SetCategory('Shared')" title="Show quizzes uploaded by users">
						Shared
					</div>
					<!-- Literally everything -->
					<div class="find-item" :class="GetCategory() == 'all' ? 'find-dirs-sel' : ''" id="all" @click="SetCategory('All')" title="Show all quizzes">
						All
					</div>
				</div>
				<div class="find-quizzes">
					<h3>Quiz File</h3>

					{{range .Quizzes}}
					<div class="find-item" x-show="Match('{{.Title}}', '{{.FriendlyCategory}}', {{.Remote}})">
						<div class="item-top">
							<p><strong>{{.Title}}</strong> - by {{.Author}}</p>
							<a href="/create/game/{{.}}" class="btn btn-primary item-play">Play</a>
						</div>
						<div class="item-description">
							<details>
								<p>{{.Description}}</p>
								<hr>
								<strong>Author:</strong> {{.Author}}
								<br>
								<strong>Questions:</strong> {{len .Questions}}
								<br>
								<strong>Category:</strong> {{.FriendlyCategory}}
								<br>
								<strong>Created:</strong> {{.Created}}

								<br>
								<br>
								<small><strong>SHA256:</strong> {{.}}</small>
							</details>
						</div>
					</div>
					{{end}}

					<div x-show="!anyMatched">
						<p>No matching results</p>
						<a href="/create/upload">Upload one instead?</a>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
