<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml"}}
		{{template "title" "Find a Game File"}}
	</head>

	<body class="wizard">
		<div class="wizard-box wizard-box-vertical wizard-box-full">
			<h2 class="find-title">Find a Game</h1>
			<div class="find-box">
				<div class="find-dirs">
					<h3>Categories</h3>
					<div class="find-item">
						Shared
					</div>
					<div class="find-item">
						All
					</div>
				</div>
				<div class="find-list find-quizzes">
					<h3>Quiz File</h3>
				</div>
			</div>
		</div>
	</body>
</html>
