<!DOCTYPE html>

<html>

	<head>
		{{template "head.gohtml"}}
		{{template "title" "Upload a Quiz File"}}
	</head>

	<body class="full wizard">
		<form class="wizard-box" method="POST">
			<input type="file"></input>
			<hr>
			<input type="submit" class="btn btn-primary" value="Upload"></input>
		</form>

		<footer class="wizard-footer">
			<p>Powered by <a class="contrast" href="https://github.com/ejv2/gahoot">Gahoot</a></p>
		</footer>
	</body>

</html>