	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	<meta name="description" content="Join a game of Gahoo! - a free, open source and distributed rewrite of Kahoot">
	<link rel="icon" href="/static/icon.png">

	<script src="/static/js/index.js"></script>
	<link rel="stylesheet" href="/static/styles.css">
