<!DOCTYPE html>

<html>

	<head>
		{{template "head.gohtml"}}
		{{template "title" "Join the Game"}}

		<script>
			window.pin = {{.Pin}};
			window.title = {{.Title}};
		</script>
		<script type="module" src="/static/js/host.js"></script>
	</head>

	<body x-cloak x-init="$store.host.init()" x-data="$store.host">
		<!-- Player join screen -->
		<div id="player-joins" x-show="stateID == 1" class="game-container">
			<template x-for="player in players">
				<p class="host-nicknames"
					@click="$store.host.kickPlayer(player.id)"
					x-text="player.name"
					:class="player.connected ? '' : 'host-nicknames-disconnected'" />
			</template>

			<button class="btn btn-blue" @click="$store.host.startGame()">Start game</button>
			<p x-show="startError" class="error"><u>Three</u> players required to start</p>
		</div>

		<!-- Game start countdown -->
		<div id="start-countdown" x-show="stateID == 2" class="game-container">
			<p x-text="countdownTitle" />
			<p x-text="countdownCount" />
		</div>

		<!-- Question start countdown -->
		<div id="start-countdown" x-show="stateID == 3" class="game-container">
			<p x-text="countdownTitle" />
			<div><span x-text="$store.host.question.index"></span> / <span x-text="$store.host.question.total"></span></div>
			<p x-text="countdownCount" />
		</div>

		<!-- Question answer options -->
		<div id="answers" x-show="stateID == 4" class="game-container">
			<div class="game-answers-title">
				<h1 x-text="$store.host.question.title"></h1>
				<div>
					<a @click="$store.host.skip()">Skip</a>
					<span x-text="$store.host.questionCountdown"></span>
				</div>
			</div>
			<div class="game-answers">
				<template x-for="ans in $store.host.question.answers">
					<div class="game-answer">
						<p>Symbol here</p>
						<p class="game-answer-text" x-text="ans.title" />
					</div>
				</template>
			</div>
		</div>

		<div id="feedback" x-show="stateID == 5" class="game-container">
			<div x-show="$store.host.feedbackWaiting">
				<h2>Collecting results</h2>
				<p>Please wait...</p>
			</div>
		</div>
	</body>

</html>
