<!DOCTYPE html>

<html>

	<head>
		{{template "head.gohtml"}}
		{{template "title" "Join the Game"}}

		<script>
			window.pin = {{.Pin}};
			window.title = {{.Title}};
		</script>
		<script type="module" src="/static/js/host.js"></script>
	</head>

	<body x-cloak x-init="$store.host.init()" x-data="$store.host">
		<!-- Player join screen -->
		<div id="player-joins" x-show="stateID == 1" class="game-container">
			<template x-for="player in players">
				<p class="host-nicknames"
					@click="$store.host.kickPlayer(player.id)"
					x-text="player.name"
					:class="player.connected ? '' : 'host-nicknames-disconnected'" />
			</template>

			<button class="btn btn-blue" @click="$store.host.startGame()">Start game</button>
			<p x-show="startError" class="error"><u>Three</u> players required to start</p>
		</div>

		<!-- Game start countdown -->
		<div id="start-countdown" x-show="stateID == 2">
		</div>
	</body>

</html>
