<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml"}}
		<title>Start or Join a Game</title>
	</head>

	<body class="full wizard">
		<div class="wizard-box wizard-box-col">
			<a class="btn" href="/join">Join Game</a>
			<hr>
			<a class="btn btn-green" href="/create">Start Game</a>
		</div>

		<footer class="wizard-footer">
			<p>Powered by <a href="https://github.com/ethanv2/gahoot">Gahoot</a></p>
		</footer>
	</body>

</html>
