<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml"}}

		<title>Enter Game PIN</title>
	</head>

	<body class="full wizard">
		<form class="wizard-box">
			<input type="tel" placeholder="Game PIN" name="pin" required></input>
			<input class="btn btn-dark" type="submit"></input>
		</form>

		<footer class="wizard-footer">
			<p>Powered by <a href="https://github.com/ethanv2/gahoot">Gahoot</a></p>
		</footer>
	</body>

</html>
