<!DOCTYPE html>

<html>

	<head>
		{{template "head.gohtml"}}

		{{template "title" "Enter Game PIN"}}
	</head>

	<body class="full wizard">
		<form class="wizard-box">
			<input
				{{if and .PinPresent (not .PinValid)}} class="error" {{end}}
				{{if .Pin}}value="{{.Pin}}"{{end}}
				type="tel" placeholder="Game PIN" name="pin" required></input>


			{{- if and .PinPresent (not .PinValid)}}
			<p class="error">Invalid game PIN</p>
			{{end}}
			<input class="btn btn-dark" type="submit"></input>
		</form>

		<footer class="wizard-footer">
			<p>Powered by <a class="contrast" href="https://github.com/ethanv2/gahoot">Gahoot</a></p>
		</footer>

	</body>

</html>
