<!DOCTYPE html>

<html>

	<head>
		{{template "head.gohtml"}}
		{{template "title" "Choose a nickname"}}
	</head>

	<body class="full wizard">
		<form class="wizard-box">
			<input type="number" name="pin" value="{{.Pin}}" hidden></input>

			<input type="text" max=20 placeholder="Nickname" name="nick" required></input>
			<input class="btn btn-dark" type="submit"></input>
		</form>

		<footer class="wizard-footer">
			<p>Powered by <a class="contrast" href="https://github.com/ethanv2/gahoot">Gahoot</a></p>
		</footer>
	</body>

</html>
