<!DOCTYPE html>

<html>

	<head>
		{{template "head.gohtml"}}
		{{template "title" "Play"}}

		<script>
			window.uid = {{.UID}};
			window.pin = {{.Pin}};
		</script>
		<script type="module" src="/static/js/play.js"></script>
	</head>

	<body x-cloak x-init="$store.game.init()" x-data="$store.game" class="game">
		<!-- Loading spinner -->
		<div id="load-spinner" x-show="stateID == 1" class="game-container">
			<img src="/static/assets/load-white.gif" style="color: var(--red);" />
			<h2>Connecting to Gahoot</h2>
		</div>

		<!-- Waiting on host to start game -->
		<div id="waiting" x-show="stateID == 2" class="game-container">
			<h2>Waiting for host to start...</h2>
			<p>See your name on screen?</p>
		</div>

		<div id="wait" x-show="stateID == 3" class="game-container game-countdown">
			<img src="/static/assets/load-white.gif" />
			<h1 x-text="countdown" />
		</div>

		<div id="question" x-show="stateID == 4" class="game-container">
			<div class="game-answers game-answers-full">
				<template x-for="(ans, i) in $store.game.question.answers">
					<div @click="$store.game.answer(i)" class="game-answer">
						<p>Symbol here</p>
						<p class="game-answer-text" x-text="ans.title" />
					</div>
				</template>
			</div>
		</div>

		<div id="feedback" x-show="stateID == 5" class="game-container">
			<div x-show="$store.game.feedbackPending">
				<img src="/static/assets/load-white.gif" />
				<h2>Were you too fast?</h2>
			</div>

			<div x-show="!$store.game.feedbackPending">
				<p>Feedback</p>
			</div>
		</div>

	</body>

</html>
